.wrapper {
    h2 {
        font-size: 3rem;
        text-align: center;
        font-weight: bold;
        margin: 10px 0 20px 0;

        .back-icon {
            margin-right: 30px;
            font-size: 2.5rem;
            color: #0d7d3c;
        }
    }
}

.inner {
    width: 100%;
    height: auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    .search {
        display: flex;
        align-items: center;
        padding: 0 10px;
        border: 1px solid #afafaf;
        border-radius: 4px;
        cursor: pointer;


        input {
            width: 200px;
            height: 35px;
            border: none;
            outline: none;
            padding-right: 10px;
        }

        &:hover {
            outline: 1.5px solid #0087E1;
        }
    }

    .add-btn {
        margin-right: 10px;
        padding: 6px 8px;
        font-size: 1.5rem;
        font-weight: 500;
        border-radius: 3px;
        color: #e2e2e2;
        background: linear-gradient(#27ae60, #1e8449);

        &:hover {
            background: linear-gradient(#15b357, #0d7d3c);
            outline: 1.5px solid #0087E1;
        }
    }
}


.table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;

    th,
    td {
        padding: 10px;
        text-align: center;
    }

    th {
        color: var(--text-white);
        font-size: 1.6rem;
        background: #0087E1;
    }

    span {
        padding-right: 5px;
    }

    .icon {
        font-size: 1.4rem;
    }

    td {
        font-size: 1.4rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    td:first-child {
        font-weight: 600;
    }

    tr:nth-child(even) {
        background: #f4f4f4;
    }

    tbody tr:hover {
        background-color: #abccf130;
    }
}

.handle {
    padding: 7px;
    font-size: 1.6rem;
    background: transparent;
    cursor: pointer;

    &:hover {
        background: #e2e2e2;
        border-radius: 50%;
    }
}

.view-btn {
    color: #30b056;
}

.edit-btn {
    color: #2400FF;
}

.delete-btn {
    color: var(--primary);
}

.pagination {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    padding-bottom: 20px;

    li {
        margin-right: 5px;

        a {
            padding: 3px 8px;
            font-size: 1.4rem;
            color: var(text-black);
            border: 1px solid #ccc;
            border-radius: 2px;
            cursor: pointer;
        }
    }
}

.active {
    color: var(--text-white);
    background: #0087E1;
}

.no-result {
    padding: 40px 20px;
}