.wrapper {
    h2 {
        font-size: 3rem;
        text-align: center;
        font-weight: bold;
        margin: 10px 0 20px 0;

        .back-icon {
            margin-right: 30px;
            font-size: 2.5rem;
            color: #0d7d3c;
        }
    }
}

.inner {
    width: 50%;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.form-group {
    .form-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;

        label {
            font-size: 1.6rem;
            font-weight: 500;
        }

        input {
            width: 100%;
            height: 35px;
            padding: 0 10px;
            font-size: 1.4rem;
            border-radius: 3px;
            border: 1px solid #8e8e8e;
            outline: none;

            &:focus {
                outline: 1px solid #333;
            }
        }
    }

}

.handle {
    button {
        margin-right: 5px;
        padding: 7px 10px;
        font-size: 1.5rem;
        color: var(--text-white);
        font-weight: 400;
        border-radius: 4px;
        background: linear-gradient(#42A1EC, #0070C9);
        cursor: pointer;

        &:hover {
            background: #1366d6;
            outline: 1.5px solid #1366d6;
        }
    }
}