.wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 90vh;
    padding: 70px 50px 0 50px;
    background: #ededed;
}

.content {
    width: 600px;
    height: 350px;
    padding: 20px;
    font-style: italic;    
    border: 1px solid #868686;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);


    h3 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    p {
        font-size: 2rem;    
    }

}

.form-login {
    width: 400px;
    height: 430px;
    padding: 20px 40px;
    color: var(--white);
    font-weight: 700;
    background: #006699;
    border-radius: 10px;
    filter: drop-shadow(10px 4px 4px #000000);

    h3 {
        color: var(--white);
        font-size: 3.5rem;
        text-align: center;
        margin-bottom: 20px;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
    label {
        font-size: 2rem;
        line-height: 36px;
        margin-bottom: 10px;
    }

    input {
        width: 100%;
        height: 45px;
        padding: 0 20px;
        font-size: 2rem;
        font-weight: 500;
        background: #fff;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        border: none;

        &:focus {
            border: none;
            outline: none;
        }
    }
}

.login-btn {
    display: flex;
    justify-content: center;

    button {
        margin-top: 10px;
        padding: 5px 20px;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 36px;
        text-align: center;
        border-radius: 10px;
        color: var(--black);
        background: #D9D9D9;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;

        &:hover {
            color: var(--white);
            background: #00a0dc;
        }
    }
    
}

.forgot-pw {
    font-style: italic;
    font-size: 1.6rem;
    text-align: center;
    font-weight: normal;
    margin-top: 20px;

    a {
        color: var(--white);
        &:hover {
            color: var(--black);
            text-decoration: underline;
        }
    }
}

    