.wrapper {
    display: flex;
}

.container {
    width: 100%;
}

.content {
    width: 100%;
    min-height: 640px;
    padding: 10px;
    background: rgb(230, 230, 230);
    font-size: 1.6rem;
}