.wrapper {
    display: flex;
}

.container {
    width: 100%;
}

.content {
    width: 100%;
    min-height: 649px;
    padding: 10px;
    background: whitesmoke;
    font-size: 1.6rem;
}