.wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.inner {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #007BFF;
    
    img {
        width: 140px;
        height: 100%;
        border-radius: 5px;
    }

    ul {
        display: flex;
        align-items: center;
        font-style: italic;
        font-size: 2rem;
        font-weight: 500;
        line-height: 24px;

        li {
            margin-left: 50px;

            a {
                color: var(--white);
            }
        }
    }
}

.container {
    width: 100%;
}

.footer {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #007BFF;

    a {
        color: var(--white);
        margin-left: 15px;

        &:hover {
            color: var(--black);
            text-decoration: underline;
        }
    }
}