.wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.inner {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #00a0dc;
    
    img {
        width: 100px;
        height: 100%;
        border-radius: 5px;
    }

    ul {
        display: flex;
        align-items: center;
        font-style: italic;
        font-size: 2rem;
        font-weight: 500;
        line-height: 24px;

        li {
            margin-left: 50px;

            a {
                color: var(--white);
                &:hover {
                    color: var(--black);
                    text-decoration: underline;
                }
            }            
        }
    }
}