.wrapper {
    width: 100%;
    height: calc(100vh - 201px);
}

.title {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    padding: 20px;
    margin: 10px;
    font-weight: 600;

    .card {
        padding: 60px;
        background-color: lightskyblue;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 20px;
    }

    .card-number {
        position: relative;
        width: 100%;
        border-bottom: 3px solid #000;
        font-size: 40px;
        text-align: center;
    }
}