.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    width: 100%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-header h2 {
    margin: 0;
    font-size: 24px;
}

.close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close-button:focus {
    outline: none;
}

.close-button:hover svg {
    color: red;
}

.close-button svg {
    transition: transform 0.2s ease-in-out;
}

.inner {
    max-height: 500px;
    overflow-y: auto;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.form-item {
    width: 100%;
    margin-bottom: 20px;
}

.form-item label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

.form-item input[type="text"],
.form-item input[type="date"],
.form-item select,
.form-item textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form-item select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg"><path d="M57.727 20.707L30 48.435 2.273 20.707c-1.562-1.562-1.562-4.095 0-5.657l5.658-5.657c1.562-1.562 4.096-1.562 5.658 0L30 37.121l15.415-15.415c1.562-1.562 4.096-1.562 5.658 0l5.658 5.657c1.562 1.562 1.562 4.095 0 5.657z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px 20px;
    padding-right: 40px;
}

.form-item textarea {
    min-height: 100px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.modal-footer button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
}

.modal-footer button:hover {
    background-color: #3e8e41;
}

.modal-footer button:first-child {
    background-color: #337ab7;
}

.modal-footer button:first-child:hover {
    background-color: #286090;
}

button {
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
}

.b2 {
    background-color: #4270e4;
    color: white;
    width: 130px;
}

.b1 {
    background-color: #d0e595;
    width: 130px;
    color: white;
}

.b3 {
    background-color: #00e165;
    color: white;
    width: 130px;
}

.b4 {
    background-color: #d3594c;
    color: white;
    width: 130px;
}

.b0 {
    width: 130px;
}