.wrapper {
    h2 {
        font-size: 3rem;
        text-align: center;
        font-weight: bold;
        margin: 10px 0 20px 0;

        .back-icon {
            margin-right: 30px;
            font-size: 2.5rem;
            color: #0d7d3c;
        }
    }

    margin-top: 20px;
}

.inner {
    width: 100%;
    height: auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.features {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 15px 15px 0;

    .cancel-btn,
    .save-btn {
        padding: 7px;
        font-size: 1.5rem;
        font-weight: 500;
        border-radius: 3px;
        background: none;
        border: 1px solid #333;
        cursor: pointer;

        &:hover {
            outline: 1.5px solid #0087E1;
        }
    }

    .cancel-btn {
        margin-right: 5px;
        background: rgb(227, 227, 227);
    }

    .add-btn {
        margin-right: 10px;
        padding: 6px 8px;
        font-size: 1.5rem;
        font-weight: 500;
        border-radius: 3px;
        color: #e2e2e2;
        background: linear-gradient(#27ae60, #1e8449);
        cursor: pointer;

        &:hover {
            background: linear-gradient(#15b357, #0d7d3c);
            outline: 1.5px solid #0087E1;
        }
    }
}

.table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;

    th,
    td {
        padding: 10px;
        text-align: left;
    }

    .center {
        text-align: center;
    }


    th {
        color: var(--text-white);
        font-size: 1.6rem;
        background: #0087E1;
    }

    span {
        padding-right: 5px;
    }

    .icon {
        font-size: 1.4rem;
    }

    td {
        font-size: 1.4rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        
        input,
        textarea,
        select  {
            width: auto;
            height: 40px;
            font-size: 1.4rem;
            text-align: center;
            border-radius: 3px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            outline: none;

            &:hover {
                outline: 1px solid rgba(0, 0, 0, 0.3);
            }
        }
    }

    td {
        font-size: 1.4rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    td:first-child {
        font-weight: 600;
    }

    tr:nth-child(even) {
        background: #f4f4f4;
    }

    tbody tr:hover {
        background-color: #abccf130;
    }
}

.handle {
    padding: 7px;
    font-size: 1.6rem;
    background: transparent;
    cursor: pointer;

    &:hover {
        background: #e2e2e2;
        border-radius: 50%;
    }
}

.view-btn {
    color: #000;
}

.edit-btn {
    color: #2400FF;
}

.delete-btn {
    color: var(--primary);
}

.cancle-btn {
    font-size: 2.0rem;
    color: rgb(137, 137, 137);
}

.save-btn {
    font-size: 2.0rem;
    color: #0d7d3c;
}

.refuse {
    color: #f30a0a;
}

.paginate {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    margin: 20px;
    padding-bottom: 20px;

    .pagination {
        display: flex;
    
        li {
            margin-right: 5px;
    
            a {
                padding: 3px 8px;
                font-size: 1.4rem;
                color: var(text-black);
                border: 1px solid #ccc;
                border-radius: 2px;
                cursor: pointer;
            }
        }
    }
}

.active {
    color: var(--text-white);
    background: #0087E1;
}

.no-result {
    td {
        font-size: 1.8rem;
        padding: 40px 20px;
    }
}

button {
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
}

.b2 {
    background-color: #4270e4;
    color: white;
    width: 130px;
}

.b1 {
    background-color: #9ab64f;
    width: 130px;
    color: white;
}

.b3 {
    background-color: #00e165;
    color: white;
    width: 130px;
}

.b4 {
    background-color: #d3594c;
    color: white;
    width: 130px;
}

.b0 {
    width: 130px;
}

.b5 {
    background-color: #f16363;
    color: white;
    width: 130px;
}